body {
	padding-top: 55px;
	padding-left: 100px;
	height: 4000px;
}

.navbar {
	height: 55px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	background: white;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(240, 240, 240);
}

.left-section {
	display: flex;
}

.menu-icon {
	height: 25px;
	margin-left: 36px;
	margin-right: 38px;
}

.youtube-icon {
	height: 25px;
}

.middle-section {
	/* Flex the middle section only */
	flex: 1;
	margin-left: 60px;
	margin-right: 40px;
	max-width: 500px;
	display: flex;
}

.search-input {
	flex: 1;
	border: solid;
	border-color: rgb(155, 154, 154);
	border-width: 1px;
	border-right: none; /* or margin-right: -1px*/
	padding: 10px;
	width: 0;
}

.search-input::placeholder {
	font-family: Roboto, Arial;
}

.search-btn {
	border: solid;
	border-color: rgb(155, 154, 154);
	border-width: 1px;
	margin-right: 10px;
	width: 60px;
}

.search-icon {
	height: 25px;
	margin-top: 2px;
}

.voice-btn {
	width: 40px;
	border: none;
	border-radius: 20px;
}

.voice-icon {
	height: 25px;
	margin-top: 2px;
}

.right-section {
	width: 250px;
	display: flex;
	justify-content: space-between;
	flex-shrink: 0;
}

.upload-btn,
.youtube-apps-btn,
.notification-btn,
.user-profile-btn {
	width: 40px;
	border: none;
	background: none;
}

.upload-icon,
.youtube-apps-icon,
.notification-icon,
.user-profile-icon {
	margin-top: 2px;
}

.user-profile-btn {
	margin-right: 25px;
}

.user-profile-icon {
	width: 100%;
	border-radius: 20px;
}
