.sidebar {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 54px;
    bottom: 0;
    left: 0;
    width: 100px;
    z-index: 200;
}

.home-btn,
.explore-btn,
.subscriptions-btn,
.originals-btn,
.youtube-music-btn,
.library-btn {
    border: none;
    background: none;
    width: 100%;
    margin-top: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
}

.home-btn:hover,
.explore-btn:hover,
.subscriptions-btn:hover,
.originals-btn:hover,
.youtube-music-btn:hover,
.library-btn:hover {
    background: rgb(240, 240, 240);
}

.home-icon,
.explore-icon,
.subscriptions-icon,
.originals-icon,
.youtube-music-icon,
.library-icon {
    height: 30px;
}

.sidebar-paragraph {
    font-weight: 100;
    font-size: 12px;
    color: rgb(76, 76, 76);
}
